.cayobeach,
.heroSectionIcon {
  position: absolute;
  top: 0;
  left: 0;
}
.heroSectionIcon {
  width: 120rem;
  height: 20.81rem;
  object-fit: cover;
}
.cayobeach {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  font-size: var(--font-size-21xl);
  line-height: 100%;
  font-family: var(--font-belleza);
  color: var(--light-text-color);
  text-align: left;
  display: inline-block;
  backdrop-filter: blur(4px);
}
.logo {
  align-self: stretch;
  position: relative;
  height: 2.5rem;
}
.frameWrapper,
.logoWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.logoWrapper {
  align-self: stretch;
  padding: var(--padding-3xs);
  justify-content: flex-start;
}
.frameWrapper {
  flex: 1;
  justify-content: center;
}
.start {
  position: relative;
  font-size: var(--body-size);
  line-height: 125%;
  font-weight: 500;
  font-family: var(--title-2);
  color: var(--light-text-color);
  text-align: left;
}
.startWrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) 0;
  background-color: transparent;
  flex: 1;
  justify-content: center;
}
.navigationMenu,
.startWrapper,
.unterknfteWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.unterknfteWrapper {
  cursor: pointer;
  border: 0;
  padding: var(--padding-5xs) 0;
  background-color: transparent;
  flex: 1;
  border-bottom: 1px solid var(--light-text-color);
  justify-content: center;
}
.navigationMenu {
  width: 29.75rem;
  justify-content: flex-start;
  gap: var(--gap-21xl);
}
.hamburgerMenuIcon {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.frameParent,
.navbar {
  display: flex;
  flex-direction: row;
}
.frameParent {
  width: 76.5rem;
  align-items: center;
  justify-content: flex-start;
}
.navbar {
  margin: 0;
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.16), transparent);
  padding: var(--padding-21xl) 0;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
}
.heroSectionParent {
  align-self: stretch;
  position: relative;
  height: 20.81rem;
}
.frAlleFamiliengren,
.unsereUnterknfte {
  align-self: stretch;
  position: relative;
  line-height: 125%;
}
.frAlleFamiliengren {
  font-size: var(--subtitle-size);
  font-weight: 500;
  color: var(--color-dimgray-300);
}
.unsereUnterknfteParent {
  width: 33.19rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  text-align: center;
  font-size: var(--display-1-size);
  color: var(--color-black);
}
.image1Icon,
.image3Icon {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 11.69rem;
  flex-shrink: 0;
  object-fit: cover;
}
.image3Icon {
  height: 15.56rem;
}
.image1Parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.image2Icon {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.frameDiv {
  flex: 1;
  border-radius: var(--br-xl);
  border: 1px solid var(--color-dimgray-400);
  box-sizing: border-box;
  height: 27.25rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  z-index: 1;
}
.bisZu3,
.kleinesFerienhaus {
  position: relative;
  line-height: 125%;
}
.kleinesFerienhaus {
  align-self: stretch;
  font-size: var(--font-size-13xl);
  font-weight: 500;
  color: var(--color-black);
}
.bisZu3PersonenParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.frameParent2,
.frameWrapper1,
.unserKleinesFerienhausIstIWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.frameWrapper1 {
  color: var(--color-dimgray-400);
}
.frameParent2 {
  gap: var(--gap-5xl);
}
.jetztReservieren {
  position: relative;
  line-height: 1.5rem;
}
.jetztReservierenWrapper {
  border-radius: var(--br-45xl);
  background-color: var(--rectangle-805);
  height: 2.75rem;
  display: flex;
  flex-direction: row;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  z-index: 1;
}
.frameChild {
  position: absolute;
  margin: 0 !important;
  top: 1.22rem;
  left: calc(50% - 788.5px);
  border-top: 1px solid var(--color-gray-700);
  box-sizing: border-box;
  width: 98.44rem;
  height: 0.06rem;
  z-index: 0;
}
.frameA {
  cursor: pointer;
  text-decoration: none;
  box-shadow: var(--n1);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-5xs);
  font-size: var(--button-size);
  color: var(--light-text-color);
}
.frameParent1 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-21xl) var(--padding-37xl);
  align-items: flex-start;
  gap: var(--gap-45xl);
  z-index: 0;
}
.frameContainer,
.frameParent1,
.frameParent4 {
  display: flex;
  justify-content: flex-start;
}
.frameContainer {
  align-self: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.frameParent4 {
  flex: 1;
  flex-direction: column;
  padding: var(--padding-21xl) var(--padding-37xl);
  align-items: flex-start;
  gap: var(--gap-45xl);
  z-index: 1;
}
.image1Icon1 {
  align-self: stretch;
  height: 17.25rem;
  flex-shrink: 0;
}
.image1Icon1,
.image1Icon2,
.image3Icon1 {
  position: relative;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.image3Icon1 {
  align-self: stretch;
  height: 10rem;
  flex-shrink: 0;
}
.image1Icon2 {
  flex: 1;
  height: 27.25rem;
}
.frameParent3,
.frameParent7 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
.frameParent7 {
  flex: 1;
  border-radius: var(--br-xl);
  border: 1px solid var(--color-dimgray-400);
  box-sizing: border-box;
  overflow: hidden;
  justify-content: flex-start;
  max-width: 46.5rem;
  z-index: 0;
}
.frameParent3 {
  align-self: stretch;
  justify-content: center;
}
.frameGroup {
  width: 76.5rem;
  gap: var(--gap-61xl);
}
.dasGemeinschaftshausParent,
.frameGroup,
.roomsSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.roomsSection {
  align-self: stretch;
  background: linear-gradient(180deg, #fff5eb, #fff 47.47%);
  padding: var(--padding-141xl) var(--padding-5xs);
}
.dasGemeinschaftshausParent {
  width: 41.19rem;
  gap: var(--gap-5xs);
}
.image1Icon3,
.image3Icon2 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 24.25rem;
  flex-shrink: 0;
  object-fit: cover;
}
.image3Icon2 {
  height: 13.5rem;
}
.frameParent10,
.image1Container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.image1Container {
  width: 42.44rem;
  flex-direction: column;
}
.frameParent10 {
  align-self: stretch;
  border-radius: var(--br-xl);
  border: 1px solid var(--color-dimgray-400);
  box-sizing: border-box;
  height: 37.75rem;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  flex-wrap: wrap;
  z-index: 1;
}
.bisZu20PersonenWrapper,
.frameWrapper4,
.unserGemeinschaftshausImUntWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.frameWrapper4,
.unserGemeinschaftshausImUntWrapper {
  justify-content: center;
}
.frameWrapper4 {
  padding: 0 11.56rem;
  text-align: center;
  color: var(--color-dimgray-400);
}
.frameParent11,
.frameWrapper3 {
  align-self: stretch;
  justify-content: flex-start;
}
.frameParent11 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-5xl);
}
.frameWrapper3 {
  padding: var(--padding-21xl) var(--padding-37xl);
  z-index: 0;
}
.commonRoomsSection,
.frameParent8,
.frameParent9,
.frameWrapper3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.frameParent9 {
  align-self: stretch;
  justify-content: center;
  text-align: left;
  font-size: var(--body-size);
  color: var(--rectangle-807);
}
.commonRoomsSection,
.frameParent8 {
  justify-content: flex-start;
}
.frameParent8 {
  width: 76.5rem;
  padding: var(--padding-141xl) 0;
  box-sizing: border-box;
  gap: var(--gap-61xl);
}
.commonRoomsSection {
  align-self: stretch;
  background: linear-gradient(180deg, #fff 21.35%, #fff5eb 69.27%);
  padding: 0 var(--padding-5xs);
}
.frame1 {
  text-align: center;
  font-size: var(--display-1-size);
  color: var(--color-black);
}
.frame,
.frame1 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.cayobeach1 {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 100%;
  backdrop-filter: blur(4px);
}
.logo1 {
  position: relative;
  width: 5rem;
  height: 2.5rem;
  color: var(--color-black);
  font-family: var(--font-belleza);
}
.familienurlaubAmStrand,
.rgenGrundstcksGbr {
  position: relative;
  font-size: var(--link-size);
  line-height: 125%;
  display: inline-block;
  width: 20rem;
}
.familienurlaubAmStrand {
  font-size: var(--button-size);
}
.companyDetailsSocialMedia {
  flex-direction: column;
  gap: var(--gap-base);
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-dimgray-300);
}
.companyDetailsSocialMedia,
.homeLink,
.homeLinkWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.homeLink {
  flex-direction: column;
  gap: var(--gap-5xs);
}
.homeLinkWrapper {
  width: 12rem;
  flex-direction: row;
}
.datenschutz {
  cursor: pointer;
  text-decoration: none;
  position: relative;
  line-height: 125%;
  color: inherit;
}
.homeLinkContainer {
  width: 10.88rem;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.companyDetailsSocialMediaParent,
.rgenGrundstcksGbr2023AlWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
.rgenGrundstcksGbr2023AlWrapper {
  align-items: center;
  text-align: left;
  font-size: var(--caption-size);
  color: var(--color-dimgray-500);
}
.footer,
.footer1,
.unterkuenfte {
  display: flex;
  flex-direction: column;
}
.footer1 {
  width: 76.5rem;
  padding: var(--padding-61xl) 0;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-53xl);
}
.footer,
.unterkuenfte {
  align-items: center;
}
.footer {
  align-self: stretch;
  background-color: var(--rectangle-810);
  justify-content: flex-end;
  text-align: center;
  color: var(--color-gray-300);
}
.unterkuenfte {
  position: relative;
  border-radius: var(--br-base);
  background-color: var(--light-text-color);
  width: 100%;
  overflow: hidden;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--body-size);
  color: var(--rectangle-807);
  font-family: var(--title-2);
}
@media screen and (max-width: 1200px) {
  .navigationMenu {
    display: flex;
  }
  .frameContainer,
  .frameDiv,
  .frameParent3 {
    flex-direction: row;
    gap: var(--gap-0);
    align-items: center;
    justify-content: flex-start;
  }
  .frameParent3 {
    justify-content: center;
  }
  .companyDetailsSocialMediaParent {
    flex-direction: row;
    gap: var(--gap-21xl);
    align-items: flex-start;
    justify-content: space-between;
  }
}
@media screen and (max-width: 960px) {
  .navigationMenu {
    display: none;
  }
  .hamburgerMenuIcon {
    display: flex;
  }
  .frameDiv {
    flex-direction: row;
    gap: var(--gap-0);
    align-items: center;
    justify-content: flex-start;
  }
  .frameDiv,
  .frameParent1 {
    flex: unset;
    align-self: stretch;
  }
  .frameContainer {
    flex-direction: column;
    gap: var(--gap-0);
    align-items: center;
    justify-content: flex-start;
  }
  .frameParent4,
  .frameParent7 {
    flex: unset;
    align-self: stretch;
  }
  .frameParent3 {
    flex-direction: column;
    gap: var(--gap-0);
    align-items: center;
    justify-content: center;
  }
  .companyDetailsSocialMediaParent {
    flex-direction: column;
    gap: var(--gap-21xl);
    align-items: flex-start;
    justify-content: flex-start;
  }
}
@media screen and (max-width: 420px) {
  .navigationMenu {
    display: none;
  }
  .hamburgerMenuIcon {
    display: flex;
  }
  .frameDiv {
    flex-direction: row;
    gap: var(--gap-0);
    align-items: center;
    justify-content: flex-start;
  }
  .frameDiv,
  .frameParent1 {
    flex: unset;
    align-self: stretch;
  }
  .frameContainer,
  .frameParent10 {
    flex-direction: column;
    gap: var(--gap-0);
    align-items: center;
    justify-content: flex-start;
  }
  .frameParent10 {
    flex-direction: row;
  }
  .companyDetailsSocialMediaParent {
    flex-direction: column;
    gap: var(--gap-21xl);
    align-items: flex-start;
    justify-content: flex-start;
  }
}
